@import url('https://fonts.googleapis.com/css2?family=Condiment&family=Josefin+Sans&family=Kalam:wght@400;700&family=Roboto+Mono&family=Rubik&family=Yesteryear&display=swap');
*{
    margin: 0;
    padding: 0;
    
}


.input-custom {
    height: 45px;
}
.button-custom {
    height: 45px;
}